<h1>Awesome homepage!</h1>

<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<p>
<%= link_to 'Posts Page', posts_path %>
</p>
<p>
<%= link_to 'Users', users_path %>
<p>

<p>
<%= link_to 'Sign up', signup_path %> | 
<%= link_to 'Login', login_path %> | 
<%= link_to 'Logout', logout_path %>
</p>