<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="posts_form">
    <div class="field">
      <div class="label">
        <%= f.label :title %>
      </div>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <div class="label">
        <%= f.label :body %>
      </div>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
