<% content_for :head do %>
  <title>Index</title>
<% end %>

<% content_for :navigation do %>
  <%= link_to 'Homepage', "/posts" %> |
  <%= link_to 'New post', new_post_path %>
<% end %>

<h1>Listing posts</h1>

<div id=all_posts>
<% @posts.each do |post| %>
  <div id=whole_post>
  
    <div id=post_title>
      <%= post.title %>
    </div>
    
    <div id=post_body>
      <%= post.body %>
    </div>
    
    <div id=post_actions>    
      <%= link_to 'Show', post %> | 
      <%= link_to 'Edit', edit_post_path(post) %> |
      <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
  
  <hr>
    
<% end %>
</div>

<br />
