<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<!-- #1 -->
<% unless @post.comments.empty? %>
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
  <p><%= h comment.body %></p>
  <% end %>
<% end %>


<!-- #2 -->
<h3>New Comment</h3>
<%= render :partial => @comment = Comment.new, 
   :locals => { :button_name => 'Create'}%>

<%= link_to 'Comments', post_comments_path(@post) %>


<%= link_to 'Edit', [:edit, @user, @post] %>
<%= link_to 'Back', user_posts_path(@user) %>
