<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <%= stylesheet_link_tag "posts" %>
  <%= javascript_include_tag "jquery-1.5.min.js", "jquery.rails.js" %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="page">

  <div id=navigation>
    <%= yield :navigation %>
  </div>

  <div id=content>
    <%= yield %>
  </div>

  <div id=footer>
    <%= yield :footer %>
  </div>

</div>

</body>
</html>
